<nav class="navbar navbar-expand-lg border-bottom shadow-sm bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://s.gravatar.com/avatar/06997c073cf773b903ab0e142cada675?d=mm" width="40" height="40" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Data Science</a></li>
              <li><a class="dropdown-item" href="#">Web Development</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <form class="form-inline" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" placeholder="Cari Disini">
                <div class="input-group-append">
                    <button type="submit" class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </form>
        <li class="nav-item ms-4">
          <a href="" class="nav-link nav-text" >Blog</a>
        </li>
        <li class="nav-item ms-4">
          <a href="" class="nav-link nav-text" >Course</a>
        </li>
        <li class="nav-item ms-4">
          <a href="" class="nav-link nav-text" >Event</a>
        </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="" class="nav-link btn btn-log-in">Log In</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link btn ms-3 btn-sign-up">Register</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>